<bsp-hotspot-module class="HotspotModule" data-module {{include "/page/promo/includes/PagePromoAttributes.hbs" this itemBackgroundColor=backgroundColor}} data-bsp-modal-id="modal-{{modalId}}"{{#with hotspotModalPromoSize}} data-promo-size="{{this}}"{{/with}} data-module-style="{{fallback hotspotModuleStyle 'A'}}"{{~#with hotspotModalPromoImageAspectRatio}} data-item-image-aspect-ratio="{{this}}"{{/with~}}>
    {{#if media}}
        <div class="HotspotModule-media">
            {{#eq hotspotModuleStyle "B"}}
                {{#set imageSize=(fallback hotspotMainImageAspectRatio "xl-16x9")}}
                    {{media}}
                {{/set}}
            {{else}}
                {{#set imageSize=(fallback hotspotMainImageAspectRatio "xl-4x3")}}
                    {{media}}
                {{/set}}
            {{/eq}}
            <div class="HotspotModule-hotspots">
                <div class="HotspotModule-hotspotCount">
                    <svg class="HotspotModule-hotspotIcon"><use xlink:href="#icon-{{combinedHotspotIcon}}"></use></svg>
                    <span class="HotspotModule-hotspotCount-number">{{items.length}}</span>
                </div>
                {{#each items}}
                    <div class="HotspotModule-hotspot" data-icon="icon-{{icon}}" style="top: {{yCoord}}%; left: {{xCoord}}%;">
                        <svg class="HotspotModule-hotspotIcon"><use xlink:href="#icon-{{icon}}"></use></svg>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    <div class="HotspotModule-content">
        {{include "/page/promo/includes/PagePromoCategory.hbs" this}}

        {{include "/page/promo/includes/PagePromoTitle.hbs" this}}

        {{include "/page/promo/includes/PagePromoDescription.hbs" this}}

        {{include "/page/promo/includes/PagePromoButton.hbs" this}}
    </div>

    <dialog class="HotspotModule-modal" data-bsp-modal id="modal-{{modalId}}">
        <div class="HotspotModule-modal-close" data-bsp-modal-close>
            <svg class="HotspotModule-modalCloseIcon"><use xlink:href="#close-x"></use></svg>
        </div>
        <div class="HotspotModule-modal-content" {{include "/page/list/includes/PageList-attributes.hbs" this}}>
            <div class="HotspotModule-modal-carousel">
                {{#set hotspotModalPromoSize=(fallback hotspotModalPromoSize "small")}}
                    {{#each items}}
                        <div class="HotspotModule-modal-carousel-slide">
                            {{!-- TODO: better syntax for this? --}}
                            {{#eq ../hotspotModalPromoSize "medium"}}
                                {{#set imageSize=(fallback ../hotspotModalPromoImageAspectRatio "large-16x9")}}
                                    {{this}}
                                {{/set}}
                            {{else}}
                                {{#eq ../hotspotModalPromoSize "large"}}
                                    {{#set imageSize=(fallback ../hotspotModalPromoImageAspectRatio "large-16x9")}}
                                        {{this}}
                                    {{/set}}
                                {{else}}
                                    {{#set imageSize=../hotspotModalPromoImageAspectRatio}}
                                        {{this}}
                                    {{/set}}
                                {{/eq}}
                            {{/eq}}
                        </div>
                    {{/each}}
                {{/set}}
            </div>
        </div>
    </dialog>
</bsp-hotspot-module>

{{!--
    These are extra hotspot icons that are not contained in Page-icons are they are only used on this module TODO: maybe look at optimizing these into file icons in the assets folder?
--}}
<svg xmlns="http://www.w3.org/2000/svg" style="display:none" id="hotspotIconsMap">
    <symbol id="icon-flag" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.2463 4.79182L1.74625 0.791823C1.63326 0.752546 1.51251 0.740867 1.39408 0.757761C1.27566 0.774655 1.16299 0.819631 1.06549 0.888935C0.967984 0.95824 0.888473 1.04986 0.833591 1.15615C0.778708 1.26245 0.750047 1.38032 0.75 1.49995V12.4999C0.75 12.6989 0.829018 12.8896 0.96967 13.0303C1.11032 13.1709 1.30109 13.2499 1.5 13.2499C1.69891 13.2499 1.88968 13.1709 2.03033 13.0303C2.17098 12.8896 2.25 12.6989 2.25 12.4999V10.0331L13.2463 6.20807C13.3932 6.1568 13.5205 6.06109 13.6106 5.93421C13.7007 5.80733 13.7491 5.65557 13.7491 5.49995C13.7491 5.34433 13.7007 5.19256 13.6106 5.06568C13.5205 4.9388 13.3932 4.84309 13.2463 4.79182ZM2.25 8.44495V2.55495L10.7169 5.49995L2.25 8.44495Z" />
    </symbol>
    <symbol id="icon-tag" viewBox="0 0 15 15">
        <path d="M14.3844 7.32376L8.17688 1.11626C8.06114 0.999757 7.92343 0.907394 7.77173 0.844523C7.62002 0.781653 7.45735 0.749526 7.29313 0.750005H1.50001C1.30109 0.750005 1.11033 0.829023 0.969675 0.969675C0.829023 1.11033 0.750005 1.30109 0.750005 1.50001V7.29313C0.749526 7.45735 0.781653 7.62002 0.844523 7.77173C0.907394 7.92343 0.999757 8.06114 1.11626 8.17688L7.32376 14.3844C7.55817 14.6187 7.87605 14.7504 8.20751 14.7504C8.53896 14.7504 8.85685 14.6187 9.09126 14.3844L14.3844 9.09126C14.6187 8.85685 14.7504 8.53896 14.7504 8.20751C14.7504 7.87605 14.6187 7.55817 14.3844 7.32376ZM8.20751 13.1469L2.25001 7.18751V2.25001H7.18751L13.145 8.20751L8.20751 13.1469ZM5.25001 4.25001C5.25001 4.44779 5.19136 4.64113 5.08148 4.80558C4.97159 4.97003 4.81541 5.0982 4.63269 5.17389C4.44996 5.24957 4.2489 5.26938 4.05492 5.23079C3.86093 5.19221 3.68275 5.09696 3.5429 4.95711C3.40305 4.81726 3.30781 4.63908 3.26922 4.4451C3.23063 4.25111 3.25044 4.05005 3.32613 3.86732C3.40181 3.6846 3.52999 3.52842 3.69444 3.41854C3.85888 3.30865 4.05222 3.25001 4.25001 3.25001C4.51522 3.25001 4.76958 3.35536 4.95711 3.5429C5.14465 3.73044 5.25001 3.98479 5.25001 4.25001Z"/>
    </symbol>
    <symbol id="icon-image" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.5 0.5H1.5C1.23478 0.5 0.98043 0.605357 0.792893 0.792893C0.605357 0.98043 0.5 1.23478 0.5 1.5V10.5C0.5 10.7652 0.605357 11.0196 0.792893 11.2071C0.98043 11.3946 1.23478 11.5 1.5 11.5H12.5C12.7652 11.5 13.0196 11.3946 13.2071 11.2071C13.3946 11.0196 13.5 10.7652 13.5 10.5V1.5C13.5 1.23478 13.3946 0.98043 13.2071 0.792893C13.0196 0.605357 12.7652 0.5 12.5 0.5ZM12.5 1.5V7.92188L10.8706 6.29313C10.7778 6.20024 10.6675 6.12656 10.5462 6.07629C10.4248 6.02602 10.2948 6.00015 10.1634 6.00015C10.0321 6.00015 9.90204 6.02602 9.7807 6.07629C9.65936 6.12656 9.54911 6.20024 9.45625 6.29313L8.20625 7.54313L5.45625 4.79313C5.26873 4.60573 5.01448 4.50046 4.74937 4.50046C4.48427 4.50046 4.23002 4.60573 4.0425 4.79313L1.5 7.33562V1.5H12.5ZM1.5 8.75L4.75 5.5L9.75 10.5H1.5V8.75ZM12.5 10.5H11.1644L8.91438 8.25L10.1644 7L12.5 9.33625V10.5ZM8 4.25C8 4.10166 8.04399 3.95666 8.1264 3.83332C8.20881 3.70999 8.32594 3.61386 8.46299 3.55709C8.60003 3.50032 8.75083 3.48547 8.89632 3.51441C9.0418 3.54335 9.17544 3.61478 9.28033 3.71967C9.38522 3.82456 9.45665 3.9582 9.48559 4.10368C9.51453 4.24917 9.49967 4.39997 9.44291 4.53701C9.38614 4.67406 9.29001 4.79119 9.16668 4.8736C9.04334 4.95601 8.89834 5 8.75 5C8.55109 5 8.36032 4.92098 8.21967 4.78033C8.07902 4.63968 8 4.44891 8 4.25Z" />
    </symbol>
    <symbol id="icon-image" viewBox="0 0 12 14" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 3C5.50555 3 5.0222 3.14662 4.61107 3.42133C4.19995 3.69603 3.87952 4.08648 3.6903 4.54329C3.50108 5.00011 3.45157 5.50277 3.54804 5.98773C3.6445 6.47268 3.8826 6.91814 4.23223 7.26777C4.58186 7.6174 5.02732 7.8555 5.51227 7.95196C5.99723 8.04843 6.49989 7.99892 6.95671 7.8097C7.41352 7.62048 7.80397 7.30005 8.07867 6.88893C8.35338 6.4778 8.5 5.99445 8.5 5.5C8.5 4.83696 8.23661 4.20107 7.76777 3.73223C7.29893 3.26339 6.66304 3 6 3ZM6 7C5.70333 7 5.41332 6.91203 5.16664 6.7472C4.91997 6.58238 4.72771 6.34811 4.61418 6.07403C4.50065 5.79994 4.47094 5.49834 4.52882 5.20736C4.5867 4.91639 4.72956 4.64912 4.93934 4.43934C5.14912 4.22956 5.41639 4.0867 5.70736 4.02882C5.99834 3.97094 6.29994 4.00065 6.57403 4.11418C6.84811 4.22771 7.08238 4.41997 7.2472 4.66664C7.41203 4.91332 7.5 5.20333 7.5 5.5C7.5 5.89782 7.34196 6.27936 7.06066 6.56066C6.77936 6.84196 6.39782 7 6 7ZM6 0C4.54182 0.00165421 3.14383 0.581648 2.11274 1.61274C1.08165 2.64383 0.501654 4.04182 0.5 5.5C0.5 7.4625 1.40688 9.5425 3.125 11.5156C3.89701 12.4072 4.76591 13.2101 5.71562 13.9094C5.7997 13.9683 5.89985 13.9999 6.0025 13.9999C6.10515 13.9999 6.20531 13.9683 6.28938 13.9094C7.23734 13.2098 8.10455 12.4069 8.875 11.5156C10.5906 9.5425 11.5 7.4625 11.5 5.5C11.4983 4.04182 10.9184 2.64383 9.88726 1.61274C8.85617 0.581648 7.45818 0.00165421 6 0ZM6 12.875C4.96688 12.0625 1.5 9.07812 1.5 5.5C1.5 4.30653 1.97411 3.16193 2.81802 2.31802C3.66193 1.47411 4.80653 1 6 1C7.19347 1 8.33807 1.47411 9.18198 2.31802C10.0259 3.16193 10.5 4.30653 10.5 5.5C10.5 9.07687 7.03312 12.0625 6 12.875Z"/>
    </symbol>
    <symbol id="icon-location" viewBox="0 0 12 14" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 3C5.50555 3 5.0222 3.14662 4.61107 3.42133C4.19995 3.69603 3.87952 4.08648 3.6903 4.54329C3.50108 5.00011 3.45157 5.50277 3.54804 5.98773C3.6445 6.47268 3.8826 6.91814 4.23223 7.26777C4.58186 7.6174 5.02732 7.8555 5.51227 7.95196C5.99723 8.04843 6.49989 7.99892 6.95671 7.8097C7.41352 7.62048 7.80397 7.30005 8.07867 6.88893C8.35338 6.4778 8.5 5.99445 8.5 5.5C8.5 4.83696 8.23661 4.20107 7.76777 3.73223C7.29893 3.26339 6.66304 3 6 3ZM6 7C5.70333 7 5.41332 6.91203 5.16664 6.7472C4.91997 6.58238 4.72771 6.34811 4.61418 6.07403C4.50065 5.79994 4.47094 5.49834 4.52882 5.20736C4.5867 4.91639 4.72956 4.64912 4.93934 4.43934C5.14912 4.22956 5.41639 4.0867 5.70736 4.02882C5.99834 3.97094 6.29994 4.00065 6.57403 4.11418C6.84811 4.22771 7.08238 4.41997 7.2472 4.66664C7.41203 4.91332 7.5 5.20333 7.5 5.5C7.5 5.89782 7.34196 6.27936 7.06066 6.56066C6.77936 6.84196 6.39782 7 6 7ZM6 0C4.54182 0.00165421 3.14383 0.581648 2.11274 1.61274C1.08165 2.64383 0.501654 4.04182 0.5 5.5C0.5 7.4625 1.40688 9.5425 3.125 11.5156C3.89701 12.4072 4.76591 13.2101 5.71562 13.9094C5.7997 13.9683 5.89985 13.9999 6.0025 13.9999C6.10515 13.9999 6.20531 13.9683 6.28938 13.9094C7.23734 13.2098 8.10455 12.4069 8.875 11.5156C10.5906 9.5425 11.5 7.4625 11.5 5.5C11.4983 4.04182 10.9184 2.64383 9.88726 1.61274C8.85617 0.581648 7.45818 0.00165421 6 0ZM6 12.875C4.96688 12.0625 1.5 9.07812 1.5 5.5C1.5 4.30653 1.97411 3.16193 2.81802 2.31802C3.66193 1.47411 4.80653 1 6 1C7.19347 1 8.33807 1.47411 9.18198 2.31802C10.0259 3.16193 10.5 4.30653 10.5 5.5C10.5 9.07687 7.03312 12.0625 6 12.875Z"/>
    </symbol>
    <symbol id="icon-expand" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.5 1V4C11.5 4.13261 11.4473 4.25979 11.3536 4.35355C11.2598 4.44732 11.1326 4.5 11 4.5C10.8674 4.5 10.7402 4.44732 10.6464 4.35355C10.5527 4.25979 10.5 4.13261 10.5 4V2.20687L7.85375 4.85375C7.75993 4.94757 7.63268 5.00028 7.5 5.00028C7.36732 5.00028 7.24007 4.94757 7.14625 4.85375C7.05243 4.75993 6.99972 4.63268 6.99972 4.5C6.99972 4.36732 7.05243 4.24007 7.14625 4.14625L9.79313 1.5H8C7.86739 1.5 7.74021 1.44732 7.64645 1.35355C7.55268 1.25979 7.5 1.13261 7.5 1C7.5 0.867392 7.55268 0.740215 7.64645 0.646447C7.74021 0.552679 7.86739 0.5 8 0.5H11C11.1326 0.5 11.2598 0.552679 11.3536 0.646447C11.4473 0.740215 11.5 0.867392 11.5 1ZM4.14625 7.14625L1.5 9.79313V8C1.5 7.86739 1.44732 7.74021 1.35355 7.64645C1.25979 7.55268 1.13261 7.5 1 7.5C0.867392 7.5 0.740215 7.55268 0.646447 7.64645C0.552679 7.74021 0.5 7.86739 0.5 8V11C0.5 11.1326 0.552679 11.2598 0.646447 11.3536C0.740215 11.4473 0.867392 11.5 1 11.5H4C4.13261 11.5 4.25979 11.4473 4.35355 11.3536C4.44732 11.2598 4.5 11.1326 4.5 11C4.5 10.8674 4.44732 10.7402 4.35355 10.6464C4.25979 10.5527 4.13261 10.5 4 10.5H2.20687L4.85375 7.85375C4.94757 7.75993 5.00028 7.63268 5.00028 7.5C5.00028 7.36732 4.94757 7.24007 4.85375 7.14625C4.75993 7.05243 4.63268 6.99972 4.5 6.99972C4.36732 6.99972 4.24007 7.05243 4.14625 7.14625ZM11 7.5C10.8674 7.5 10.7402 7.55268 10.6464 7.64645C10.5527 7.74021 10.5 7.86739 10.5 8V9.79313L7.85375 7.14625C7.75993 7.05243 7.63268 6.99972 7.5 6.99972C7.36732 6.99972 7.24007 7.05243 7.14625 7.14625C7.05243 7.24007 6.99972 7.36732 6.99972 7.5C6.99972 7.63268 7.05243 7.75993 7.14625 7.85375L9.79313 10.5H8C7.86739 10.5 7.74021 10.5527 7.64645 10.6464C7.55268 10.7402 7.5 10.8674 7.5 11C7.5 11.1326 7.55268 11.2598 7.64645 11.3536C7.74021 11.4473 7.86739 11.5 8 11.5H11C11.1326 11.5 11.2598 11.4473 11.3536 11.3536C11.4473 11.2598 11.5 11.1326 11.5 11V8C11.5 7.86739 11.4473 7.74021 11.3536 7.64645C11.2598 7.55268 11.1326 7.5 11 7.5ZM2.20687 1.5H4C4.13261 1.5 4.25979 1.44732 4.35355 1.35355C4.44732 1.25979 4.5 1.13261 4.5 1C4.5 0.867392 4.44732 0.740215 4.35355 0.646447C4.25979 0.552679 4.13261 0.5 4 0.5H1C0.867392 0.5 0.740215 0.552679 0.646447 0.646447C0.552679 0.740215 0.5 0.867392 0.5 1V4C0.5 4.13261 0.552679 4.25979 0.646447 4.35355C0.740215 4.44732 0.867392 4.5 1 4.5C1.13261 4.5 1.25979 4.44732 1.35355 4.35355C1.44732 4.25979 1.5 4.13261 1.5 4V2.20687L4.14625 4.85375C4.24007 4.94757 4.36732 5.00028 4.5 5.00028C4.63268 5.00028 4.75993 4.94757 4.85375 4.85375C4.94757 4.75993 5.00028 4.63268 5.00028 4.5C5.00028 4.36732 4.94757 4.24007 4.85375 4.14625L2.20687 1.5Z"/>
    </symbol>
</svg>
